/**
 * Created by cezary.bubieniec on 07.10.2022.
 */
.product-card{
    max-width: 210px;
    padding: 5px 10px;
    border-radius: 10px;
    min-height: 280px;
    position: relative;
}
.product-card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px -1px rgba(70, 72, 93, 1);
}
.product-image{
    width: 100%;
}
.product-image>img{
    height: 156px;
    width: 100%;
    object-fit: cover;
}
.product-price{
    padding-top: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
}