/**
 * Created by cezary.bubieniec on 22.09.2022.
 */

.THIS.resultBox {
    position: absolute;
    min-height: 50px;
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 0.25em;
    background: white;
    z-index: 99999999999999;

}
.THIS .resultItem:hover {
    background: rgb(238, 238, 238);
    cursor: pointer;
}