/**
 * Created by cezary.bubieniec on 11.10.2022.
 */
.button-order{
    border-radius: 512px;
    border: none;
    margin-top: 12px;
    padding: 8px 8px 8px 12px;
    width: 100%;
    background: rgb(17, 158, 0);
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.text{
    font-size: 16px;
    line-height: 24px;
    color: rgb(26, 26, 26);
    font-weight: bold
}
.payment-box{
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
}
.button-icon{
    --sds-c-icon-color-foreground: rgb(255, 255, 255) !important;
}
.button-back{
    border: 0px;
    height: 40px;
    width: 364px;
    margin: 24px auto 32px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
    background-color: rgb(0, 130, 250);
    border-radius: 512px;
    padding: 8px 16px;
}
.count-buy{
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(26, 26, 26);
    cursor: pointer;
    display: table;
    border-spacing: 0px;
    border-collapse: separate;
    height: 32px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 57px;
    margin: auto;
    text-align: center;
}
.cart-product{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 10px;
}
.image{
    border-radius: 6px;
    padding: 5px;
}
.pointer{
    cursor: pointer;
}